MAIN_WALLET_PRIVATE_KEY=
AGENT_WALLET_PRIVATE_KEY=
MAIN_WALLET_PUBLIC_KEY=
AGENT_WALLET_PUBLIC_KEY=
BULK_HTTP_URL=https://exchange-api.bulk.trade/api/v1
BULK_WS_URL=wss://exchange-ws1.bulk.trade
MULTISIG_PUBKEY=
