openapi: 3.0.3
info:
  title: Bulk Trade API
  description: |
    # BULK TRADE (HTTP & WebSocket) API

    One Exchange Infinite Markets.

    ## API Structure

    This API is divided into three main sections:

    ### 1. Market Data Endpoints (Public, Read-only)
    - Exchange information and symbols
    - Market statistics and tickers
    - Historical candles (OHLCV)
    - Order book snapshots
    - **HTTP**: REST endpoints for queries
    - **WebSocket**: Real-time streams for live data

    ### 2. Account Endpoints (Public, Unsigned)
    - Query account state (positions, orders, margin)
    - Query fill history
    - **No signature required** - read-only operations
    - Does not mutate state

    ### 3. Transaction Endpoint (Signed, State-Mutating)
    - Single `POST /order` endpoint for all operations
    - Place orders (limit, market), cancel, faucet, settings, agent wallets
    - Unified `Transaction` model with `actions` array
    - **Signature required** - Ed25519 signature of transaction
    - Mutates account state

    ## Base URLs

    - **HTTP REST**: `https://exchange-api.bulk.trade/api/v1`
    - **WebSocket**: `wss://exchange-ws1.bulk.trade`

    ## Glossary

    ### Field Notation

    Bulk uses compact field names to minimize bandwidth (critical for HFT):

    | Short | Full Name | Description |
    |-------|-----------|-------------|
    | `s` | symbol | Market symbol (e.g., BTC-USD) |
    | `c` | coin | Market symbol in orders / cancel |
    | `px` | price | Price level |
    | `sz` | size | Order/position size |
    | `b` | is_buy | Buy/sell direction (true=buy, false=sell) |
    | `r` | reduce_only | Order only reduces position |
    | `tif` | time_in_force | Order lifetime (GTC/IOC/ALO) |
    | `o` | open | Open price (candles) |
    | `h` | high | High price (candles) |
    | `l` | low | Low price (candles) |
    | `v` | volume | Trading volume |
    | `n` | count | Number of trades/orders |
    | `T` | close_time | Close timestamp |
    | `oid` | order_id | Order identifier (base58) |
    | `u` | user | User public key |
    | `a` | agent | Agent public key |
    | `d` | delete | Delete flag |
    | `m` | max_leverage | Leverage settings map |
    | `reason` | reason | Fill reason (normal/liquidation/adl) |

    ### Order Types

    | Action Type | TIF | Description | Use Case |
    |-------------|-----|-------------|----------|
    | `l` | **GTC** | Good Till Cancel | Standard limit order, rests on book |
    | `l` | **IOC** | Immediate or Cancel | Fill or kill (aggressive price) |
    | `l` | **ALO** | Add Liquidity Only | Maker-only (post-only) |
    | `m` | N/A | Market Order | Immediate execution at best price |

    ### Market Terminology

    - **Perpetual**: Perpetual futures contract (no expiry)
    - **Mark Price**: Fair value price (used for margin calculations)
    - **Oracle Price**: External reference price
    - **Open Interest**: Total notional value of open positions
    - **Funding Rate**: Periodic payment between longs and shorts
    - **Maker**: Liquidity provider (resting order)
    - **Taker**: Liquidity consumer (aggressive order)
    - **Tick Size**: Minimum price increment
    - **Lot Size**: Minimum order size

    ### Timestamp Formats

    - **HTTP API**: Milliseconds since Unix epoch (int64)
    - **WebSocket**: Milliseconds since Unix epoch (int64)
    - **Internal**: Nanoseconds (converted at API boundary)

  version: 3.0.10
  contact:
    name: Junbug
    url: https://x.com/junbug_sol
  license:
    name: Custom
    url: https://www.custom.com/license

servers:
  - url: https://exchange-api.bulk.trade/api/v1
    description: Production

tags:
  - name: Market Data
    description: |
      **Public, read-only endpoints**

      Real-time and historical market data. No authentication required.

      **HTTP**: Query historical data
      **WebSocket**: Subscribe to real-time updates

  - name: Account (Unsigned)
    description: |
      **Public, read-only, no signature required**

      Query account information. Does not mutate state.
      Anyone can query any account's public data.

  - name: Trading (Signed)
    description: |
      **Authenticated, state-mutating endpoints**

      Place and cancel orders. Requires Ed25519 signature.
      See "Transaction Signing" section for details.

x-tagGroups:
  - name: Public (Read-only)
    tags:
      - Market Data
      - Account (Unsigned)
  - name: Authenticated (Write)
    tags:
      - Trading (Signed)

paths:
  /metrics:
    get:
      tags:
        - Market Data
      summary: Get runtime metrics snapshot
      description: |
        Returns current runtime metrics as JSON.

        If metrics callback wiring is disabled, returns:
        `{ "error": "metrics not configured" }`.

        When validator metrics callback is enabled, payload includes ingress authentication counters
        under `wire_auth`, including:
        - `tx_auth_bad_signature`
        - `tx_auth_unauthorized_signer`
      operationId: getMetrics
      responses:
        "200":
          description: Metrics payload
          content:
            application/json:
              schema:
                type: object

  /verify:
    get:
      tags:
        - Market Data
      summary: Verify ledger and committed metrics consistency
      description: |
        Returns ledger verification values (`tx_count`, `tx_xor`, `latest_round`)
        and compares them with committed metrics values when available.
      operationId: getVerify
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ledger:
                    type: object
                    properties:
                      tx_count:
                        type: integer
                      tx_xor:
                        type: string
                      latest_round:
                        type: integer
                        nullable: true
                  metrics:
                    type: object
                    properties:
                      committed_count:
                        type: integer
                      committed_xor:
                        type: string
                  match:
                    type: boolean
        "500":
          $ref: "#/components/responses/ServerError"

  # ===================================================================
  # MARKET DATA ENDPOINTS (HTTP)
  # ===================================================================

  /exchangeInfo:
    get:
      tags:
        - Market Data
      summary: Get exchange info
      description: |
        Returns information about all available markets.
      operationId: getExchangeInfo
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MarketInfo"
              example:
                - symbol: BTC-USD
                  baseAsset: BTC
                  quoteAsset: USDC
                  status: TRADING
                  pricePrecision: 1
                  sizePrecision: 8
                  tickSize: 0.5
                  lotSize: 0.001
                  minNotional: 10.0
                  maxLeverage: 10
                  orderTypes: [LIMIT, MARKET, STOP, TAKE_PROFIT, RANGE, TRIGGER, TRAILING]
                  timeInForces: [GTC, IOC]
        "500":
          description: Internal server error

  /ticker/{symbol}:
    get:
      tags:
        - Market Data
      summary: Get market statistics
      description: |
        Returns 24-hour statistics for a specific symbol.
      operationId: getTicker
      parameters:
        - $ref: "#/components/parameters/SymbolPath"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketStats"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /klines:
    get:
      tags:
        - Market Data
      summary: Get candle history (OHLCV)
      description: |
        Returns historical candlestick data for charting.

        **Supported intervals**: 10s, 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 8h, 12h, 1d, 3d, 1w, 1M
      operationId: getKlines
      parameters:
        - $ref: "#/components/parameters/SymbolQuery"
        - $ref: "#/components/parameters/Interval"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Candle"
        "500":
          $ref: "#/components/responses/ServerError"

  /l2book:
    get:
      tags:
        - Market Data
      summary: Get L2 order book
      description: |
        Returns current order book snapshot with optional filtering.
      operationId: getL2Book
      parameters:
        - name: type
          in: query
          required: true
          description: Must be "l2book"
          schema:
            type: string
            enum: [l2book]
        - name: coin
          in: query
          required: true
          description: Market symbol
          schema:
            type: string
            example: BTC-USD
        - name: nlevels
          in: query
          required: false
          description: Number of price levels to return per side
          schema:
            type: integer
            example: 10
        - name: aggregation
          in: query
          required: false
          description: Price increment for aggregation (in quote currency)
          schema:
            type: number
            format: double
            example: 0.5
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookUpdate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /stats:
    get:
      tags:
        - Market Data
      summary: Get exchange statistics
      description: |
        Returns exchange statistics with optional symbol filtering.

        **Notes**:
        - All periods currently return 24h rolling stats
        - Aggregate queries (`symbol` omitted) are cached with 600s TTL
        - Symbol-specific queries bypass cache
        - Markets array sorted by quoteVolume descending
        - Period aliases accepted by server:
          - `24h` -> `1d`
          - `1w` -> `7d`
          - `1m` -> `30d`
          - `3m` -> `90d`
          - `365d` -> `1y`
      operationId: getExchangeStats
      parameters:
        - name: period
          in: query
          required: false
          description: |
            Canonical period value.
            If omitted or invalid, defaults to `1d`.
          schema:
            type: string
            enum: [1d, 7d, 30d, 90d, 1y, all]
            default: 1d
          examples:
            default:
              value: 1d
            weekly:
              value: 7d
        - name: symbol
          in: query
          required: false
          description: Optional symbol filter (e.g. BTC-USD)
          schema:
            type: string
            example: BTC-USD
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeStats"
              examples:
                aggregate:
                  summary: Aggregate stats across all markets
                  value:
                    timestamp: 1704067200000
                    period: 1d
                    volume:
                      totalUsd: 126543210.0
                    openInterest:
                      totalUsd: 54321000.0
                    funding:
                      rates:
                        BTC-USD:
                          current: 0.0001
                          annualized: 0.1095
                        ETH-USD:
                          current: 0.00008
                          annualized: 0.0876
                    markets:
                      - symbol: BTC-USD
                        volume: 1234.56
                        quoteVolume: 126543210.0
                        openInterest: 487.8
                        fundingRate: 0.0001
                        fundingRateAnnualized: 0.1095
                        lastPrice: 102500.0
                        markPrice: 102480.0
                symbolFiltered:
                  summary: Symbol-filtered stats
                  value:
                    timestamp: 1704067200000
                    period: 7d
                    volume:
                      totalUsd: 126543210.0
                    openInterest:
                      totalUsd: 50000000.0
                    funding:
                      rates:
                        BTC-USD:
                          current: 0.0001
                          annualized: 0.1095
                    markets:
                      - symbol: BTC-USD
                        volume: 1234.56
                        quoteVolume: 126543210.0
                        openInterest: 487.8
                        fundingRate: 0.0001
                        fundingRateAnnualized: 0.1095
                        lastPrice: 102500.0
                        markPrice: 102480.0
                unknownSymbol:
                  summary: Unknown symbol still returns 200 with empty/zero stats
                  value:
                    timestamp: 1704067200000
                    period: 1d
                    volume:
                      totalUsd: 0.0
                    openInterest:
                      totalUsd: 0.0
                    funding:
                      rates: {}
                    markets: []
        "500":
          $ref: "#/components/responses/ServerError"

  /riskSurfaces:
    get:
      tags:
        - Market Data
      summary: Get all regime risk surfaces for a market
      description: |
        Returns the complete risk configuration surface set for one market across all regimes.
        This is a read-only snapshot endpoint and does not mutate state.
      operationId: getRiskSurfaces
      parameters:
        - name: market
          in: query
          required: true
          description: Market symbol or coin symbol (for example `BTC-USD` or `BTC`)
          schema:
            type: string
            example: BTC-USD
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RiskSurfaces"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "408":
          $ref: "#/components/responses/Timeout"
        "500":
          $ref: "#/components/responses/ServerError"

  # ===================================================================
  # ACCOUNT ENDPOINTS (UNSIGNED - Read-only)
  # ===================================================================

  /account:
    post:
      tags:
        - Account (Unsigned)
      summary: Query account (unsigned)
      description: |
        Query account information. **No signature required** - read-only operation.

        Accepts a JSON body with POST request.

        **Query types**:
        - `fullAccount`: Complete state (margin + positions + orders + leverage settings)
        - `openOrders`: Resting live orders (includes conditional orders parked in conditional books)
        - `fills`: Trade history (last 5000 fills)
        - `positions`: Closed position history (last 5000 positions)
        - `fundingHistory`: Funding payment history (last 5000 payments)
        - `orderHistory`: Terminal order history (last 5000 orders)
        - `feeTier`: Account fee-tier quote + fee policy snapshot (`symbol` optional)
      operationId: getAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountQuery"
            examples:
              fullAccount:
                summary: Get full account state
                value:
                  type: fullAccount
                  user: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
              openOrders:
                summary: Get open orders only
                value:
                  type: openOrders
                  user: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
              fills:
                summary: Get fill history
                value:
                  type: fills
                  user: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
              positions:
                summary: Get closed position history
                value:
                  type: positions
                  user: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
              fundingHistory:
                summary: Get funding payment history
                value:
                  type: fundingHistory
                  user: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
              orderHistory:
                summary: Get terminal order history
                value:
                  type: orderHistory
                  user: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
              feeTier:
                summary: Get account fee tier quote
                value:
                  type: feeTier
                  user: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  symbol: "BTC-USD"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountData"
        "404":
          $ref: "#/components/responses/NotFound"
        "408":
          $ref: "#/components/responses/Timeout"
        "500":
          $ref: "#/components/responses/ServerError"

  /feeState:
    get:
      tags:
        - Account (Unsigned)
      summary: Query protocol fee state (unsigned)
      description: |
        Returns active fee policy/schedule state for protocol/global scopes.
        This endpoint is read-only and unsigned.
      operationId: getProtocolFeeState
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeeState"
        "408":
          $ref: "#/components/responses/Timeout"
        "500":
          $ref: "#/components/responses/ServerError"

  /multisig/{pubkey}/proposals:
    get:
      tags:
        - Account (Unsigned)
      summary: Get multisig proposals snapshot (unsigned)
      description: |
        Returns the full proposal list for a multisig account, including pending,
        ready, executed, failed, expired, cancelled, and rejected entries.
        Proposal `status` is a compact string (`pending`, `ready`, `executed`,
        `failed`, `expired`, `cancelled`, `rejected`).
        Returns `404` when `pubkey` is not a multisig account.
      operationId: getMultisigProposals
      parameters:
        - name: pubkey
          in: path
          required: true
          description: Multisig account pubkey (base58)
          schema:
            type: string
            example: "6q8Y4f6g8tR4mQ1H2Zr3u9x7k9a4nS2Yx1g6Wm8qJ5tK"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultisigProposalsSnapshot"
              example:
                multisig: "6q8Y4f6g8tR4mQ1H2Zr3u9x7k9a4nS2Yx1g6Wm8qJ5tK"
                proposals:
                  - proposalId: 42
                    proposer: "9J8TUdEWrrcADK913r1Cs7DdqX63VdVU88imfDzT1ypt"
                    createdAt: 1776700149433
                    executeAfter: 1776700209433
                    expiresAt: 1777304949433
                    approvals:
                      - "9J8TUdEWrrcADK913r1Cs7DdqX63VdVU88imfDzT1ypt"
                    rejections: []
                    approvalsCount: 1
                    rejectionsCount: 0
                    status: pending
                    actions:
                      - transfer:
                          k: internal
                          from: "8XJUssn2TxLhJ9XEPwA9pvtVJAtpgEEa2uRQYnKCGJmh"
                          to: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                          marginSymbol: USDC
                          marginAmount: 10.0
                    error: null
        "404":
          description: Not Found - Pubkey is not a multisig account
        "500":
          $ref: "#/components/responses/ServerError"

  # ===================================================================
  # TRADE ENDPOINTS (SIGNED - State-mutating)
  # ===================================================================

  /order:
    post:
      tags:
        - Trading (Signed)
      summary: Submit transaction (signed)
      description: |
        Unified endpoint for all state-mutating operations. **Requires Ed25519 signature**.

        Uses a unified `Transaction` model with an `actions` array containing any combination of action types.

        **Action types** (each is a tagged object in the `actions` array):
        - `{"l": {...}}`: Place a resting limit order (GTC, IOC, ALO)
        - `{"m": {...}}`: Execute at market price
        - `{"mod": {...}}`: Modify an existing order
        - `{"cx": {...}}`: Cancel a specific order by ID
        - `{"cxa": {...}}`: Cancel all orders (by symbol or all)
        - `{"st": {...}}`: Place stop conditional order
        - `{"tp": {...}}`: Place take-profit conditional order
        - `{"rng": {...}}`: Place range/OCO conditional order
        - `{"trig": {...}}`: Place trigger basket order
        - `{"trl": {...}}`: Place trailing-stop conditional order
        - `{"of": {...}}`: Register on-fill consequents for a parent action in the same transaction
        - `{"faucet": {...}}`: Request testnet funds
        - `{"agentWalletCreation": {...}}`: Register/remove agent wallet
        - `{"updateUserSettings": {...}}`: Update leverage settings
        - `{"createSubAccount": {...}}`: Create a sub-account under the signing master
        - `{"removeSubAccount": {...}}`: Remove a sub-account and sweep margin back
        - `{"renameSubAccount": {...}}`: Rename an existing sub-account
        - `{"transfer": {...}}`: Transfer margin between accounts (internal/external; per-instrument isolated-account top-up)
        - `{"createMultisig": {...}}`: Create a protocol-native multisig account
        - `{"msp": {...}}` / `{"msa": {...}}` / `{"msr": {...}}` / `{"msc": {...}}` / `{"mse": {...}}` / `{"msu": {...}}`: Multisig propose / approve / reject / cancel / execute / update-policy
        - `{"whitelistFaucet": {...}}`: Whitelist account for faucet (admin)
        - `{"px": {...}}`: Submit price action (admin)
        - `{"o": {...}}`: Batch Pyth oracle prices (admin)

        **Batch example**: Cancel an existing order and place new ones:
        ```json
        {"actions": [{"cx": {"c": "BTC-USD", "oid": "..."}}, {"l": {...}}, {"l": {...}}], "nonce": ..., "account": "...", "signer": "...", "signature": "..."}
        ```

        **Signing**: See [Transaction Signing](/api-reference/signing) for complete wincode serialization and signing details.
      operationId: submitTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transaction"
            examples:
              limitGTC:
                summary: GTC Limit Order
                value:
                  actions:
                    - l:
                        c: BTC-USD
                        b: true
                        px: 100000.0
                        sz: 0.1
                        tif: GTC
                        r: false
                        i: false
                  nonce: 1704067200000
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              limitIsolated:
                summary: GTC Limit Order routed into the per-instrument isolated account
                value:
                  actions:
                    - l:
                        c: BTC-USD
                        b: true
                        px: 100000.0
                        sz: 0.1
                        tif: GTC
                        r: false
                        i: true
                  nonce: 1704067200030
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              limitFromSubAccount:
                summary: GTC Limit Order placed from a sub-account (master signs, account = sub pubkey)
                value:
                  actions:
                    - l:
                        c: BTC-USD
                        b: true
                        px: 100000.0
                        sz: 0.1
                        tif: GTC
                        r: false
                        i: false
                  nonce: 1704067200031
                  account: "8x7iUti9m6L6Y9yQPXkXj4zD2uP1Qx5Eo9W4vYm6cGmR"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              marketOrder:
                summary: Market Order
                value:
                  actions:
                    - m:
                        c: BTC-USD
                        b: true
                        sz: 0.1
                        r: false
                        i: false
                  nonce: 1704067200001
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              modifyOrder:
                summary: Modify Order Size
                value:
                  actions:
                    - mod:
                        oid: "Fpa3oVuL3UzjNANAMZZdmrn6D1Zhk83GmBuJpuAWG51F"
                        symbol: BTC-USD
                        amount: 0.05
                  nonce: 1704067200008
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              cancelSingle:
                summary: Cancel Single Order
                value:
                  actions:
                    - cx:
                        c: BTC-USD
                        oid: "order_hash_base58"
                  nonce: 1704067200002
                  account: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                  signer: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                  signature: "rpkxJezRft2xqfFxaqYRCTRtoobV4Z2Btqj6P52bEcAKczLn5Rgf2Yfm37UN4HGJwywR4QkuDjJUkwZ93DB2Fw9"
              cancelAll:
                summary: Cancel All Orders
                value:
                  actions:
                    - cxa:
                        c: ["BTC-USD"]
                  nonce: 1704067200003
                  account: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                  signer: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                  signature: "rpkxJezRft2xqfFxaqYRCTRtoobV4Z2Btqj6P52bEcAKczLn5Rgf2Yfm37UN4HGJwywR4QkuDjJUkwZ93DB2Fw9"
              stopOrder:
                summary: Stop Conditional Order
                value:
                  actions:
                    - st:
                        c: BTC-USD
                        d: false
                        sz: 0.25
                        tr: 98000.0
                        lim: 97950.0
                        i: false
                  nonce: 1704067200011
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              takeProfitOrder:
                summary: Take-Profit Conditional Order
                value:
                  actions:
                    - tp:
                        c: BTC-USD
                        d: true
                        sz: 0.25
                        tr: 104000.0
                        lim: 103950.0
                        i: false
                  nonce: 1704067200012
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              rangeOrder:
                summary: Range / OCO Conditional Order
                value:
                  actions:
                    - rng:
                        c: BTC-USD
                        d: true
                        sz: 0.5
                        pmin: 96000.0
                        pmax: 106000.0
                        lmin: 95950.0
                        lmax: 105950.0
                        i: false
                  nonce: 1704067200013
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              triggerBasket:
                summary: Trigger Basket Order
                value:
                  actions:
                    - trig:
                        c: BTC-USD
                        d: true
                        tr: 105000.0
                        actions:
                          - m:
                              c: BTC-USD
                              b: true
                              sz: 0.1
                              r: false
                              i: false
                          - cx:
                              c: BTC-USD
                              oid: "old_order_hash_base58"
                        i: false
                  nonce: 1704067200014
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              faucet:
                summary: Request Faucet Funds
                value:
                  actions:
                    - faucet:
                        u: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  nonce: 1704067200004
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "rpkxJezRft2xqfFxaqYRCTRtoobV4Z2Btqj6P52bEcAKczLn5Rgf2Yfm37UN4HGJwywR4QkuDjJUkwZ93DB2Fw9"
              agentWallet:
                summary: Register Agent Wallet
                value:
                  actions:
                    - agentWalletCreation:
                        a: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                        d: false
                  nonce: 1704067200005
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5JX7N4f2r2qsLheHyvCpwzs4iXQjLPp1UZH1Ec4a7B4wJQi8Np4ncn3tDrEVW9BLjLVWm2nqFaGgk9T3o4WdTgpx"
              updateSettings:
                summary: Update Leverage Settings
                value:
                  actions:
                    - updateUserSettings:
                        m:
                          BTC-USD: 5.0
                          ETH-USD: 3.0
                  nonce: 1704067200006
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5JXWgp1fW6px2Gjhw6YHhQ4wEqb6FqMam6m4yg4uRcCksH9WxSv9dVjizGfD4StGtv1z9gR71unZY6tQ6dNDdJ3K"
              batch:
                summary: Batch (Cancel + Place)
                value:
                  actions:
                    - cx:
                        c: BTC-USD
                        oid: "old_order_hash_base58"
                    - l:
                        c: BTC-USD
                        b: true
                        px: 100000.0
                        sz: 0.1
                        tif: GTC
                        r: false
                  nonce: 1704067200007
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              whitelistFaucet:
                summary: Whitelist Faucet (Admin)
                value:
                  actions:
                    - whitelistFaucet:
                        target: "9J8TUdEWrrcADK913r1Cs7DdqX63VdVU88imfDzT1ypt"
                        whitelist: true
                  nonce: 1704067200009
                  account: "ADMIN_PUBKEY_BASE58"
                  signer: "ADMIN_PUBKEY_BASE58"
                  signature: "5j7s...base58..."
              oraclePrice:
                summary: Oracle Price Update (Admin)
                value:
                  actions:
                    - px:
                        t: 1704067200000000000
                        c: BTC-USD
                        px: 102500.0
                  nonce: 1704067200010
                  account: "ORACLE_PUBKEY_BASE58"
                  signer: "ORACLE_PUBKEY_BASE58"
                  signature: "5j7s...base58..."
              createSubAccountMinimal:
                summary: Create Sub-Account (no initial margin)
                value:
                  actions:
                    - createSubAccount:
                        name: "desk-1"
                  nonce: 1704067200019
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              createSubAccount:
                summary: Create Sub-Account (with initial margin)
                value:
                  actions:
                    - createSubAccount:
                        name: "desk-1"
                        marginSymbol: "USDC"
                        marginAmount: 1000.0
                  nonce: 1704067200020
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              removeSubAccount:
                summary: Remove Sub-Account
                value:
                  actions:
                    - removeSubAccount:
                        toRemove: "8x7iUti9m6L6Y9yQPXkXj4zD2uP1Qx5Eo9W4vYm6cGmR"
                  nonce: 1704067200021
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              renameSubAccount:
                summary: Rename Sub-Account
                value:
                  actions:
                    - renameSubAccount:
                        a: "8x7iUti9m6L6Y9yQPXkXj4zD2uP1Qx5Eo9W4vYm6cGmR"
                        n: "desk-2"
                  nonce: 1704067200022
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              transferInternal:
                summary: Transfer (internal, master to sub-account)
                value:
                  actions:
                    - transfer:
                        k: internal
                        from: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                        to: "8x7iUti9m6L6Y9yQPXkXj4zD2uP1Qx5Eo9W4vYm6cGmR"
                        marginSymbol: "USDC"
                        marginAmount: 100.0
                  nonce: 1704067200022
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              transferIsoTopUp:
                summary: Transfer (top up a per-instrument isolated account via isoPubkey)
                value:
                  actions:
                    - transfer:
                        k: internal
                        from: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                        to: "ISO_ACCOUNT_PUBKEY_BASE58"
                        marginSymbol: "USDC"
                        marginAmount: 100.0
                  nonce: 1704067200023
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              transferExternal:
                summary: Transfer (external, to any account on the network)
                value:
                  actions:
                    - transfer:
                        k: external
                        from: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                        to: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                        marginSymbol: "USDC"
                        marginAmount: 50.0
                  nonce: 1704067200024
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              createMultisig:
                summary: Create Multisig
                value:
                  actions:
                    - createMultisig:
                        signers:
                          - "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                          - "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                        threshold: 2
                        timeLockSecs: 60
                        proposalLifetimeSecs: 604800
                  nonce: 1704067200025
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              multisigPropose:
                summary: Multisig Propose (transfer)
                value:
                  actions:
                    - msp:
                        m: "6q8Y4f6g8tR4mQ1H2Zr3u9x7k9a4nS2Yx1g6Wm8qJ5tK"
                        a:
                          - transfer:
                              k: internal
                              from: "6q8Y4f6g8tR4mQ1H2Zr3u9x7k9a4nS2Yx1g6Wm8qJ5tK"
                              to: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                              marginSymbol: "USDC"
                              marginAmount: 10.0
                  nonce: 1704067200026
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              multisigApprove:
                summary: Multisig Approve
                value:
                  actions:
                    - msa:
                        m: "6q8Y4f6g8tR4mQ1H2Zr3u9x7k9a4nS2Yx1g6Wm8qJ5tK"
                        p: 7
                  nonce: 1704067200027
                  account: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                  signer: "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                  signature: "5j7s...base58..."
              multisigExecute:
                summary: Multisig Execute (after time-lock)
                value:
                  actions:
                    - mse:
                        m: "6q8Y4f6g8tR4mQ1H2Zr3u9x7k9a4nS2Yx1g6Wm8qJ5tK"
                        p: 7
                  nonce: 1704067200028
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
              multisigUpdatePolicy:
                summary: Multisig Update Policy (proposal-only)
                value:
                  actions:
                    - msu:
                        m: "6q8Y4f6g8tR4mQ1H2Zr3u9x7k9a4nS2Yx1g6Wm8qJ5tK"
                        signers:
                          - "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                          - "5Am6JkEHAjYG1itNWRMGpQrxvY8AaqkXCo1TZvenqVux"
                        threshold: 2
                        timeLockSecs: 30
                        proposalLifetimeSecs: 604800
                  nonce: 1704067200029
                  account: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signer: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                  signature: "5j7s...base58..."
      responses:
        "200":
          description: |
            Transaction response.

            Note: authentication failures are returned as HTTP 200 with
            `status: "error"` and `statuses: [{"error":{"message":"bad signature"}}]`
            or `statuses: [{"error":{"message":"unauthorized signer"}}]`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponse"
              examples:
                accepted:
                  summary: Accepted transaction (resting order)
                  value:
                    status: ok
                    response:
                      type: order
                      data:
                        statuses:
                          - resting:
                              oid: "Fpa3oVuL3UzjNANAMZZdmrn6D1Zhk83GmBuJpuAWG51F"
                authBadSignature:
                  summary: Authentication reject - bad signature
                  value:
                    status: error
                    response:
                      type: order
                      data:
                        statuses:
                          - error:
                              message: "bad signature"
                authUnauthorizedSigner:
                  summary: Authentication reject - unauthorized signer
                  value:
                    status: error
                    response:
                      type: order
                      data:
                        statuses:
                          - error:
                              message: "unauthorized signer"
        "408":
          $ref: "#/components/responses/Timeout"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  # ===================================================================
  # PARAMETERS
  # ===================================================================
  parameters:
    SymbolPath:
      name: symbol
      in: path
      required: true
      description: Market symbol
      schema:
        type: string
        example: BTC-USD

    SymbolQuery:
      name: symbol
      in: query
      required: true
      description: Market symbol
      schema:
        type: string
        example: BTC-USD

    Interval:
      name: interval
      in: query
      required: true
      description: Candle timeframe
      schema:
        type: string
        enum: [10s, 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 8h, 12h, 1d, 3d, 1w, 1M]
        example: 1m

    StartTime:
      name: startTime
      in: query
      required: false
      description: Start timestamp (milliseconds)
      schema:
        type: integer
        format: int64

    EndTime:
      name: endTime
      in: query
      required: false
      description: End timestamp (milliseconds)
      schema:
        type: integer
        format: int64

  # ===================================================================
  # RESPONSES
  # ===================================================================

  responses:
    BadRequest:
      description: Bad Request - Invalid parameters or transaction type

    NotFound:
      description: Not Found - Symbol or account doesn't exist

    Timeout:
      description: Request Timeout - Executor didn't respond within 2s

    ServerError:
      description: Internal Server Error - Database or channel error

  # ===================================================================
  # SCHEMAS
  # ===================================================================

  schemas:
    # Market Data Schemas
    MarketInfo:
      type: object
      description: Market configuration and trading rules
      properties:
        symbol:
          type: string
          example: BTC-USD
        baseAsset:
          type: string
          description: Base currency
          example: BTC
        quoteAsset:
          type: string
          description: Quote currency
          example: USDC
        status:
          type: string
          enum: [TRADING, SUSPENDED, CLOSED]
        pricePrecision:
          type: integer
          description: Decimal places for price
        sizePrecision:
          type: integer
          description: Decimal places for size
        tickSize:
          type: number
          description: Minimum price increment
        lotSize:
          type: number
          description: Minimum order size
        minNotional:
          type: number
          description: Minimum order value (price × size)
        maxLeverage:
          type: integer
          description: Maximum allowed leverage
        orderTypes:
          type: array
          items:
            type: string
            enum: [LIMIT, MARKET, STOP, STOP_LIMIT, TAKE_PROFIT, RANGE, TRIGGER, TRAILING]
          description: Supported order types for this market.
        timeInForces:
          type: array
          items:
            type: string

    MarketStats:
      type: object
      description: 24-hour market statistics
      properties:
        symbol:
          type: string
        priceChange:
          type: number
          description: Absolute price change (24h)
        priceChangePercent:
          type: number
          description: Percentage price change (24h)
        lastPrice:
          type: number
          description: Last traded price
        highPrice:
          type: number
          description: 24h high
        lowPrice:
          type: number
          description: 24h low
        volume:
          type: number
          description: 24h volume (base currency)
        quoteVolume:
          type: number
          description: 24h volume (quote currency)
        markPrice:
          type: number
          description: Fair value price (for margin calculations)
        oraclePrice:
          type: number
          description: External reference price
        openInterest:
          type: number
          description: Total open positions (base currency)
        fundingRate:
          type: number
          description: Current funding rate
        regime:
          type: integer
          description: Market regime indicator (-1, 0, 1)
        regimeDt:
          type: integer
          description: Regime duration in 10s intervals
        regimeVol:
          type: number
          description: Regime-adjusted volatility
        regimeMv:
          type: number
          description: Regime mean value
        fairBookPx:
          type: number
          description: Fair price derived from order book
        fairVol:
          type: number
          description: Fair volatility estimate
        fairBias:
          type: number
          description: Fair price bias
        timestamp:
          type: integer
          format: int64
          description: Timestamp (nanoseconds)

    RiskPoint:
      type: object
      description: Risk point at a specific notional/leverage grid coordinate
      properties:
        mmrO:
          type: number
          description: Start-of-regime maintenance margin ratio
        mmrE:
          type: number
          description: End-of-regime maintenance margin ratio
        p:
          type: number
          description: Probability of remaining in regime

    RiskSurface:
      type: object
      description: Risk surface for one regime
      properties:
        regime:
          type: integer
          description: Regime index
        leverage:
          type: array
          items:
            type: number
          description: Leverage knot points
        notionals:
          type: array
          items:
            type: number
          description: Notional knot points
        buy:
          type: array
          description: 2D buy-side grid [notional_idx][leverage_idx]
          items:
            type: array
            items:
              $ref: "#/components/schemas/RiskPoint"
        sell:
          type: array
          description: 2D sell-side grid [notional_idx][leverage_idx]
          items:
            type: array
            items:
              $ref: "#/components/schemas/RiskPoint"

    RiskSurfaces:
      type: object
      description: Complete risk surfaces for a market across all regimes
      properties:
        symbol:
          type: string
          description: Market symbol
          example: BTC-USD
        liveRegime:
          type: integer
          description: Currently active regime index
        surfaces:
          type: array
          description: Regime surfaces sorted by regime ascending
          items:
            $ref: "#/components/schemas/RiskSurface"
        corrs:
          type: array
          description: Correlation tuples [pair, rho]
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              oneOf:
                - type: string
                - type: number

    ExchangeStats:
      type: object
      description: Aggregate exchange statistics
      properties:
        timestamp:
          type: integer
          format: int64
          description: Server timestamp (milliseconds)
        period:
          type: string
          description: Requested period
          example: "1d"
        volume:
          type: object
          properties:
            totalUsd:
              type: number
              description: Total volume in USD
        openInterest:
          type: object
          properties:
            totalUsd:
              type: number
              description: Sum of per-market open interest converted to USD using mark prices
        funding:
          type: object
          properties:
            rates:
              type: object
              description: Funding rates by market symbol
              additionalProperties:
                type: object
                properties:
                  current:
                    type: number
                    description: Current 8-hour funding rate
                  annualized:
                    type: number
                    description: Annualized funding rate
        markets:
          type: array
          description: Per-market breakdown (sorted by quoteVolume desc)
          items:
            type: object
            properties:
              symbol:
                type: string
              volume:
                type: number
                description: 24h volume in base currency
              quoteVolume:
                type: number
                description: 24h volume in USD
              openInterest:
                type: number
                description: Open interest in native market units (base/contracts)
              fundingRate:
                type: number
                description: Current 8-hour funding rate
              fundingRateAnnualized:
                type: number
                description: Annualized funding rate
              lastPrice:
                type: number
              markPrice:
                type: number

    Candle:
      type: object
      description: OHLCV candlestick data
      required: [t, T, o, h, l, c, v, n]
      properties:
        t:
          type: integer
          format: int64
          description: Open timestamp (ms)
        T:
          type: integer
          format: int64
          description: Close timestamp (ms)
        o:
          type: number
          description: Open price
        h:
          type: number
          description: High price
        l:
          type: number
          description: Low price
        c:
          type: number
          description: Close price
        v:
          type: number
          description: Volume
        n:
          type: integer
          description: Number of trades

    BookUpdate:
      type: object
      description: Order book snapshot or delta
      properties:
        updateType:
          type: string
          enum: [snapshot, delta]
          description: |
            - `snapshot`: Full order book state (both sides populated)
            - `delta`: Incremental update (only one side has levels, other is empty array)
        symbol:
          type: string
          description: Market symbol
        levels:
          type: array
          description: |
            Array with exactly 2 elements: `[bids, asks]`
            - Index 0: Bid levels (highest to lowest price)
            - Index 1: Ask levels (lowest to highest price)
            - For deltas: Only one side will have levels, the other will be an empty array `[]`
          minItems: 2
          maxItems: 2
          items:
            type: array
            items:
              $ref: "#/components/schemas/Level"
        timestamp:
          type: integer
          format: int64
          description: Timestamp in milliseconds

    Level:
      type: object
      description: Price level in order book
      properties:
        px:
          type: number
          description: Price level
        sz:
          type: number
          description: Total size at this price level
        n:
          type: integer
          description: |
            Number of orders at this price level.
            - For snapshots: Actual count of orders
            - For deltas: Always `0` (order count not tracked in deltas)

    # Account Schemas (Unsigned)

    AccountQuery:
      type: object
      description: Account query parameters (no signature needed)
      required:
        - type
        - user
      properties:
        type:
          type: string
          enum: [fullAccount, openOrders, fills, positions, fundingHistory, orderHistory, feeTier]
          description: Type of account data to retrieve
        user:
          type: string
          description: User public key (base58)
          example: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
        symbol:
          type: string
          description: Optional market symbol for scope-specific requests (used by `feeTier`)
          example: "BTC-USD"

    AccountData:
      oneOf:
        - type: object
          properties:
            fullAccount:
              $ref: "#/components/schemas/FullAccount"
        - type: object
          properties:
            openOrder:
              $ref: "#/components/schemas/OrderState"
        - type: object
          properties:
            fills:
              $ref: "#/components/schemas/Fill"
        - type: object
          properties:
            positions:
              $ref: "#/components/schemas/ClosedPosition"
        - type: object
          properties:
            fundingPayment:
              $ref: "#/components/schemas/FundingPayment"
        - type: object
          properties:
            orderHistory:
              $ref: "#/components/schemas/OrderHistoryEntry"
        - type: object
          properties:
            feeTier:
              $ref: "#/components/schemas/FeeState"

    FullAccount:
      type: object
      description: Complete account state with account tree, margin, positions, orders, and leverage settings
      properties:
        kind:
          type: string
          enum: [MasterEOA, SubAccount, IsoAccount, Multisig]
          description: Account kind
        parent:
          type: string
          nullable: true
          description: Parent account pubkey (present for sub/iso accounts, otherwise `null`)
        subAccounts:
          type: array
          description: Child sub-accounts owned by this master (empty for non-master kinds)
          items:
            type: object
            properties:
              pubkey:
                type: string
                description: Sub-account pubkey (base58)
              name:
                type: string
                nullable: true
                description: Display name
        multisigAccounts:
          type: array
          description: Multisig accounts where this account is the multisig address or a signer member
          items:
            type: string
        authorizedAgentWallets:
          type: array
          description: |
            Agent wallets registered on this account that may sign on its behalf.
            Agents registered on a master are also authorized to sign for any of the master's sub-accounts. Sub-accounts can additionally register their own agents independently.
          items:
            type: string
        margin:
          $ref: "#/components/schemas/Margin"
        positions:
          type: array
          description: Open positions with full risk metrics. For master/sub accounts, includes per-instrument isolated-account rows (`iso=true`).
          items:
            $ref: "#/components/schemas/Position"
        openOrders:
          type: array
          description: Resting live orders, including conditional orders parked in conditional books. For master/sub accounts, includes per-instrument isolated-account rows (`iso=true`).
          items:
            $ref: "#/components/schemas/OrderState"
        pendingOnFill:
          type: array
          description: Registered on-fill plans waiting for parent order fill
          items:
            $ref: "#/components/schemas/PendingOnFillPlan"
        feeTiers:
          type: array
          description: Effective fee tier snapshot rows for global and instrument scopes
          items:
            $ref: "#/components/schemas/FeeTierQuote"
        leverageSettings:
          type: array
          description: Per-symbol leverage settings
          items:
            $ref: "#/components/schemas/LeverageEntry"

    PendingOnFillPlan:
      type: object
      properties:
        parentOrderId:
          type: string
          description: Parent resting order ID that activates these actions on first fill
        actions:
          type: array
          description: Consequent actions executed when parent order first fills
          items:
            type: object

    FeeTierQuote:
      type: object
      properties:
        symbol:
          type: string
          description: Scope symbol (`global` or market symbol)
        rollingVolume:
          type: number
        tierIndex:
          type: integer
          format: int32
        tierThreshold:
          type: number
        makerBps:
          type: number
        takerBps:
          type: number
        windowDays:
          type: integer
          format: int32

    FeeState:
      type: object
      properties:
        stamp:
          type: integer
          format: int64
        slot:
          type: integer
          format: int64
        globalPolicyActive:
          type: boolean
        instrumentOverridesActive:
          type: integer
          format: int32
        scheduledGlobalDepth:
          type: integer
          format: int32
        scheduledTotalDepth:
          type: integer
          format: int32
        nextActivationSlot:
          type: integer
          format: int64
          nullable: true
        settledFills:
          type: integer
          format: int64
        totalMakerFees:
          type: number
        totalTakerFees:
          type: number
        totalProtocolSettlement:
          type: number
        scopes:
          type: array
          items:
            type: object
        accountQuote:
          type: object
          nullable: true

    Margin:
      type: object
      description: Account-level margin and PnL
      properties:
        totalBalance:
          type: number
          description: Total account equity
        availableBalance:
          type: number
          description: Available for new orders (totalBalance - marginUsed)
        marginUsed:
          type: number
          description: Total maintenance margin requirement
        notional:
          type: number
          description: Total position notional value
        realizedPnl:
          type: number
          description: Total realized profit/loss
        unrealizedPnl:
          type: number
          description: Total unrealized profit/loss
        fees:
          type: number
          description: Total fees paid
        funding:
          type: number
          description: Total funding payments

    Position:
      type: object
      properties:
        symbol:
          type: string
          description: Market symbol
        size:
          type: number
          description: Position size (negative=short, positive=long)
        price:
          type: number
          description: Volume-weighted average entry price
        fairPrice:
          type: number
          description: Current fair/mark price
        notional:
          type: number
          description: Position notional value
        realizedPnl:
          type: number
          description: Realized profit/loss
        unrealizedPnl:
          type: number
          description: Unrealized profit/loss at current fair price
        leverage:
          type: number
          description: Effective leverage
        liquidationPrice:
          type: number
          description: Estimated liquidation price
        fees:
          type: number
          description: Fees paid on this position
        funding:
          type: number
          description: Funding payments for this position
        maintenanceMargin:
          type: number
          description: Maintenance margin requirement
        lambda:
          type: number
          description: Risk lambda parameter
        riskAllocation:
          type: number
          description: Fraction of portfolio risk allocated
        iso:
          type: boolean
          description: "`true` if this row belongs to a per-instrument isolated account, otherwise `false`"
        isoPubkey:
          type: string
          nullable: true
          description: Present only when `iso=true`; base58 pubkey of the per-instrument isolated account. Use **only** as `to` in an internal `transfer` action to top up isolated-account margin. Isolated-account pubkeys are not valid as `account` on transactions and are not valid `user` values for `POST /account`.
        protection:
          allOf:
            - $ref: "#/components/schemas/PositionProtection"
          nullable: true
          description: Optional attached reduce-only protective orders for this symbol

    PositionProtection:
      type: object
      properties:
        orders:
          type: array
          description: Protective order references attached to this position
          items:
            $ref: "#/components/schemas/ProtectionOrderRef"

    ProtectionOrderRef:
      type: object
      properties:
        orderId:
          type: string
          description: Protective order ID (base58)
        orderType:
          type: string
          enum: [stop, takeProfit, range, trigger, trailing]
          description: Conditional root order type
        trigger:
          allOf:
            - $ref: "#/components/schemas/TriggerSpec"
          nullable: true
          description: Conditional trigger metadata for this protective order

    TriggerSpec:
      type: object
      properties:
        isAbove:
          type: boolean
          nullable: true
          description: Trigger direction when encoded
        px:
          type: number
          description: Trigger threshold price
        lim:
          type: number
          nullable: true
          description: Optional post-trigger limit price (`null` means market)
        oco:
          type: string
          nullable: true
          description: Optional linked OCO sibling order ID
        pxHi:
          type: number
          nullable: true
          description: Optional upper trigger threshold for range/OCO
        limHi:
          type: number
          nullable: true
          description: Optional upper post-trigger limit for range/OCO
        trb:
          type: integer
          format: uint32
          nullable: true
          description: Trailing distance in bps (trailing orders only)
        stb:
          type: integer
          format: uint32
          nullable: true
          description: Favorable reset step in bps (trailing orders only)

    LeverageEntry:
      type: object
      properties:
        symbol:
          type: string
          description: Market symbol
        leverage:
          type: number
          description: Maximum leverage (1.0 to 50.0)

    OrderState:
      type: object
      description: Order status and details
      properties:
        symbol:
          type: string
          description: Market symbol
        orderId:
          type: string
          description: Order ID (base58) - use for cancellation
        price:
          type: number
          description: Order price (for conditional roots this is projected from trigger threshold when direct price is not set)
        originalSize:
          type: number
          description: Original order size (signed; negative values indicate sell-side intent)
        size:
          type: number
          description: Remaining size (signed; negative values indicate sell-side intent; `trigger` baskets use `0` because they are action containers, not direct sized orders)
        filledSize:
          type: number
          description: Filled size
        vwap:
          type: number
          description: Volume-weighted average fill price (0 if no fills)
        maker:
          type: boolean
          description: true if order is maker (resting on book)
        reduceOnly:
          type: boolean
          description: true if reduce-only order
        orderType:
          type: string
          enum: [limit, market, stop, takeProfit, range, trigger, trailing]
          description: Inferred order type for snapshots/open-orders
        trigger:
          allOf:
            - $ref: "#/components/schemas/TriggerSpec"
          nullable: true
          description: Trigger metadata for conditional/trigger orders, otherwise `null`
        tif:
          type: string
          enum: [gtc, ioc, postOnly]
          description: Time in force
        status:
          type: string
          enum: [
            pending,
            placed,
            resting,
            working,
            modified,
            filled,
            partiallyFilled,
            cancelled,
            cancelledRiskLimit,
            cancelledSelfCrossing,
            cancelledReduceOnly,
            cancelledIoc,
            rejectedInvalid,
            rejectedRiskLimit,
            rejectedCrossing,
            rejectedDuplicate,
            triggered,
            siblingCancelled,
            triggerFailed,
          ]
          description: Order status
        timestamp:
          type: integer
          format: int64
          description: Order placement time (nanoseconds)
        iso:
          type: boolean
          description: "`true` if this row belongs to a per-instrument isolated account, otherwise `false`"

    Fill:
      type: object
      description: Trade execution (fill)
      properties:
        maker:
          type: string
          description: Maker public key (base58)
        taker:
          type: string
          description: Taker public key (base58)
        orderIdMaker:
          type: string
          description: Maker order ID (base58)
        orderIdTaker:
          type: string
          description: Taker order ID (base58)
        isBuy:
          type: boolean
          description: Taker side (true=bought, false=sold)
        symbol:
          type: string
        amount:
          type: number
          description: Trade size
        price:
          type: number
          description: Execution price
        makerFee:
          type: number
          description: Maker fee (negative means rebate)
        takerFee:
          type: number
          description: Taker fee (negative means rebate)
        fee:
          type: number
          description: Effective fee for queried row (`makerFee` for maker row, `takerFee` for taker row)
        reason:
          type: string
          enum: [normal, liquidation, adl]
          description: Fill reason (normal, liquidation, or adl)
        slot:
          type: integer
          format: int64
          description: Slot number
        timestamp:
          type: integer
          format: int64
          description: Execution time (nanoseconds)
        iso:
          type: boolean
          description: "`true` if this row belongs to a per-instrument isolated account, otherwise `false`"

    CloseReason:
      type: string
      description: Reason for position closure
      enum: [normal, liquidation, adl]

    ClosedPosition:
      type: object
      description: Closed position history record
      properties:
        owner:
          type: string
          description: Owner public key (base58)
        symbol:
          type: string
          description: Market symbol
        quantity:
          type: number
          description: Closed position size (signed; long=positive, short=negative)
        maxQuantity:
          type: number
          description: Legacy alias of quantity (kept for backward compatibility)
        totalVolume:
          type: number
          description: Total traded volume over position lifetime
        avgOpenPrice:
          type: number
          description: Volume-weighted average entry price
        avgClosePrice:
          type: number
          description: Volume-weighted average exit price
        realizedPnl:
          type: number
          description: Total realized profit/loss
        fees:
          type: number
          description: Total fees paid
        funding:
          type: number
          description: Total funding payments (positive=received, negative=paid)
        openTime:
          type: integer
          format: int64
          description: Position open timestamp (nanoseconds)
        closeTime:
          type: integer
          format: int64
          description: Position close timestamp (nanoseconds)
        closeReason:
          $ref: "#/components/schemas/CloseReason"
        iso:
          type: boolean
          description: "`true` if this row belongs to a per-instrument isolated account, otherwise `false`"

    FundingPayment:
      type: object
      description: Funding payment record
      properties:
        owner:
          type: string
          description: Owner public key (base58)
        symbol:
          type: string
          description: Market symbol
        size:
          type: number
          description: Position size at time of funding (positive=long, negative=short)
        payment:
          type: number
          description: Funding payment amount in USD (positive=received, negative=paid)
        fundingRate:
          type: number
          description: Applied funding rate
        markPrice:
          type: number
          description: Fair price at time of funding
        slot:
          type: integer
          format: int64
          description: Slot number when funding was applied
        timestamp:
          type: integer
          format: int64
          description: Timestamp (nanoseconds)
        iso:
          type: boolean
          description: "`true` if this row belongs to a per-instrument isolated account, otherwise `false`"

    OrderHistoryEntry:
      type: object
      description: Terminal order history record
      properties:
        orderId:
          type: string
          description: Order ID (base58)
        symbol:
          type: string
          description: Market symbol
        side:
          type: string
          enum: [buy, sell]
          description: Order side
        orderType:
          type: string
          enum: [limit, market, stop, stopLimit, takeProfit, range, trigger, trailing]
          description: Order type
        tif:
          type: string
          enum: [gtc, ioc, postOnly]
          description: Time in force
        price:
          type: number
          description: Order price
        vwap:
          type: number
          description: Volume-weighted average fill price (0 if no fills)
        originalSize:
          type: number
          description: Original order size
        executedSize:
          type: number
          description: Amount filled
        reduceOnly:
          type: boolean
          description: Whether order was reduce-only
        status:
          type: string
          enum: [
            filled,
            partiallyFilled,
            cancelled,
            cancelledRiskLimit,
            cancelledSelfCrossing,
            cancelledReduceOnly,
            cancelledIoc,
            rejectedInvalid,
            rejectedRiskLimit,
            rejectedCrossing,
            rejectedDuplicate,
          ]
          description: Terminal order status
        trigger:
          allOf:
            - $ref: "#/components/schemas/TriggerSpec"
          nullable: true
          description: Trigger metadata for conditional/trigger orders, otherwise `null`
        reason:
          type: string
          nullable: true
          description: Rejection/cancellation reason (optional)
        slot:
          type: integer
          format: int64
          description: Slot number when order became terminal
        timestamp:
          type: integer
          format: int64
          description: Timestamp (nanoseconds)
        iso:
          type: boolean
          description: "`true` if this row belongs to a per-instrument isolated account, otherwise `false`"

    # Trading Schemas (Signed)

    Transaction:
      type: object
      description: |
        Unified signed transaction. All state-mutating operations use this model.

        The `actions` array can contain any combination of action types, executed atomically.

        **Must be signed** - see [Transaction Signing](/api-reference/signing) for signing details.
      required:
        - actions
        - nonce
        - account
        - signer
        - signature
      properties:
        actions:
          type: array
          description: |
            Array of actions to execute atomically. Each action is a tagged object where the key is the compact action tag.

            Action types: `l`, `m`, `mod`, `cx`, `cxa`, `st`, `tp`, `rng`, `trig`, `trl`, `of`, `faucet`, `agentWalletCreation`, `updateUserSettings`, `createSubAccount`, `removeSubAccount`, `renameSubAccount`, `transfer`, `createMultisig`, `msp`, `msa`, `msr`, `msc`, `mse`, `msu`, `whitelistFaucet` (admin), `px` (admin), `o` (admin)
          items:
            $ref: "#/components/schemas/Action"
        nonce:
          type: integer
          format: int64
          description: Unique nonce for replay protection (use timestamp in nanoseconds or incrementing counter)
        account:
          type: string
          description: |
            Account public key (base58) whose account is being acted on. Must be a master pubkey or a sub-account pubkey. Per-instrument isolated accounts are managed implicitly via the `i` flag on order actions and are never set as `account`.
          example: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
        signer:
          type: string
          description: |
            Signer public key (base58); who is signing. One of:
            - the `account` itself;
            - when `account` is a sub-account: the parent master, or an [agent wallet](/api-reference/manageAgentWallet) registered on the parent master (automatically authorized for its sub-accounts);
            - an agent wallet registered directly on `account`.
          example: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
        signature:
          type: string
          description: Ed25519 signature of wincode_serialize(actions + nonce + account) (base58)
          example: "5j7sVt3k2YxPqH4w..."

    Action:
      description: |
        Tagged action object. Each action type is an externally tagged enum using compact action tags.
      oneOf:
        - title: Limit order (l)
          type: object
          description: Place a resting limit order
          required: [l]
          properties:
            l:
              type: object
              required: [c, b, px, sz, tif, r, i]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                b:
                  type: boolean
                  description: true = buy, false = sell
                px:
                  type: number
                  description: Limit price
                  example: 100000.0
                sz:
                  type: number
                  description: Size / quantity
                  example: 0.1
                tif:
                  type: string
                  enum: [GTC, IOC, ALO]
                  description: Time in force (GTC = rests on book, IOC = immediate or cancel, ALO = post-only)
                r:
                  type: boolean
                  description: Reduce only
                i:
                  type: boolean
                  description: |
                    Required. `true` routes the order into the per-instrument isolated account under the signing account; `false` keeps base-account routing.
                    Must be present in the JSON; the field is part of the canonical wincode binary message and omitting it produces a `bad signature`.
        - title: Market order (m)
          type: object
          description: Execute at market price immediately
          required: [m]
          properties:
            m:
              type: object
              required: [c, b, sz, r, i]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                b:
                  type: boolean
                  description: true = buy, false = sell
                sz:
                  type: number
                  description: Size / quantity
                  example: 0.1
                r:
                  type: boolean
                  description: Reduce only
                i:
                  type: boolean
                  description: |
                    Required. `true` routes the order into the per-instrument isolated account under the signing account; `false` keeps base-account routing.
                    Must be present in the JSON; the field is part of the canonical wincode binary message and omitting it produces a `bad signature`.
        - title: Modify order (mod)
          type: object
          description: Modify the size of an existing resting order
          required: [mod]
          properties:
            mod:
              type: object
              required: [oid, symbol, amount]
              properties:
                oid:
                  type: string
                  description: Order ID (base58 hash)
                  example: "Fpa3oVuL3UzjNANAMZZdmrn6D1Zhk83GmBuJpuAWG51F"
                symbol:
                  type: string
                  description: Symbol
                  example: BTC-USD
                amount:
                  type: number
                  description: New order size
                  example: 0.05
        - title: Cancel order (cx)
          type: object
          description: Cancel a specific order by ID
          required: [cx]
          properties:
            cx:
              type: object
              required: [c, oid]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                oid:
                  type: string
                  description: Order ID (base58 hash)
                  example: "Fpa3oVuL3UzjNANAMZZdmrn6D1Zhk83GmBuJpuAWG51F"
        - title: Cancel all (cxa)
          type: object
          description: Cancel all orders (optionally filtered by symbol)
          required: [cxa]
          properties:
            cxa:
              type: object
              required: [c]
              properties:
                c:
                  type: array
                  description: Symbols to cancel. Empty array `[]` cancels all symbols.
                  items:
                    type: string
                  example: ["BTC-USD"]
        - title: Stop (st)
          type: object
          description: Place a conditional stop order
          required: [st]
          properties:
            st:
              type: object
              required: [c, d, sz, tr, i]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                d:
                  type: boolean
                  description: Trigger direction (`true` = trigger above/equal threshold, `false` = below/equal)
                sz:
                  type: number
                  description: Size to execute on trigger
                  example: 0.25
                tr:
                  type: number
                  description: Trigger threshold
                  example: 98000.0
                lim:
                  type: number
                  nullable: true
                  description: Optional triggered limit price. Omit for market-style trigger
                  example: 97950.0
                i:
                  type: boolean
                  description: |
                    Required. `true` routes the triggered order into the per-instrument isolated account under the signing account; `false` keeps base-account routing.
                    Must be present in the JSON; the field is part of the canonical wincode binary message and omitting it produces a `bad signature`.
        - title: Take profit (tp)
          type: object
          description: Place a conditional take-profit order
          required: [tp]
          properties:
            tp:
              type: object
              required: [c, d, sz, tr, i]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                d:
                  type: boolean
                  description: Trigger direction (`true` = trigger above/equal threshold, `false` = below/equal)
                sz:
                  type: number
                  description: Size to execute on trigger
                  example: 0.25
                tr:
                  type: number
                  description: Trigger threshold
                  example: 104000.0
                lim:
                  type: number
                  nullable: true
                  description: Optional triggered limit price. Omit for market-style trigger
                  example: 103950.0
                i:
                  type: boolean
                  description: |
                    Required. `true` routes the triggered order into the per-instrument isolated account under the signing account; `false` keeps base-account routing.
                    Must be present in the JSON; the field is part of the canonical wincode binary message and omitting it produces a `bad signature`.
        - title: Range / OCO (rng)
          type: object
          description: Place a range collar (OCO) conditional order
          required: [rng]
          properties:
            rng:
              type: object
              required: [c, d, sz, pmin, pmax, i]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                d:
                  type: boolean
                  description: Position direction (`true` = buy/long collar, `false` = sell/short collar)
                sz:
                  type: number
                  description: Size to protect/exit
                  example: 0.5
                pmin:
                  type: number
                  description: Lower trigger threshold
                  example: 96000.0
                pmax:
                  type: number
                  description: Upper trigger threshold
                  example: 106000.0
                lmin:
                  type: number
                  nullable: true
                  description: Optional limit for the lower-trigger leg
                  example: 95950.0
                lmax:
                  type: number
                  nullable: true
                  description: Optional limit for the upper-trigger leg
                  example: 105950.0
                i:
                  type: boolean
                  description: |
                    Required. `true` routes the triggered legs into the per-instrument isolated account under the signing account; `false` keeps base-account routing.
                    Must be present in the JSON; the field is part of the canonical wincode binary message and omitting it produces a `bad signature`.
        - title: Trigger basket (trig)
          type: object
          description: Place a trigger basket order that executes nested actions when threshold is crossed
          required: [trig]
          properties:
            trig:
              type: object
              required: [c, d, tr, actions, i]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                d:
                  type: boolean
                  description: Trigger direction (`true` = trigger above/equal threshold, `false` = below/equal)
                tr:
                  type: number
                  description: Trigger threshold
                  example: 105000.0
                actions:
                  type: array
                  description: |
                    Nested actions executed when trigger fires.
                    Allowed today: `m`, `l`, `mod`, `cx`, `cxa`, `st`, `tp`, `rng`, `trl`.
                  items:
                    type: object
                    description: Nested action object using the same compact action tags as top-level actions
                i:
                  type: boolean
                  description: |
                    Required. `true` routes trigger execution into the per-instrument isolated account under the signing account; `false` keeps base-account routing.
                    Must be present in the JSON; the field is part of the canonical wincode binary message and omitting it produces a `bad signature`.
        - title: Trailing stop (trl)
          type: object
          description: Place a trailing-stop conditional root
          required: [trl]
          properties:
            trl:
              type: object
              required: [c, b, sz, trb, stb, i]
              properties:
                c:
                  type: string
                  description: Symbol
                  example: BTC-USD
                b:
                  type: boolean
                  description: Protected position direction (`true` = long protection, `false` = short protection)
                sz:
                  type: number
                  description: Size to protect/exit
                  example: 0.25
                trb:
                  type: integer
                  format: int32
                  description: Trailing distance in bps
                  example: 100
                stb:
                  type: integer
                  format: int32
                  description: Favorable reset step in bps
                  example: 10
                lim:
                  type: number
                  nullable: true
                  description: Optional triggered limit price. Omit for market-style trigger
                  example: null
                i:
                  type: boolean
                  description: |
                    Required. `true` routes trailing execution into the per-instrument isolated account under the signing account; `false` keeps base-account routing.
                    Must be present in the JSON; the field is part of the canonical wincode binary message and omitting it produces a `bad signature`.
        - title: On-fill (of)
          type: object
          description: Register one-shot consequents to fire on the first fill of a parent action in the same transaction
          required: [of]
          properties:
            of:
              type: object
              required: [p, actions]
              properties:
                p:
                  type: integer
                  format: int32
                  minimum: 0
                  description: Parent action seqno in the same transaction. In normal processing this seqno is assigned from action position (0..n-1), so it is usually the parent action index.
                  example: 0
                actions:
                  type: array
                  description: |
                    One-shot consequents executed on first fill of the parent.
                    Allowed today: `m`, `l`, `mod`, `cx`, `cxa`, `st`, `tp`, `rng`, `trig`, `trl`.
                    Parent candidates for `of` are `m`, `l`, `st`, `tp`, `rng`, `trl` (`trig` is not a parent candidate).
                  items:
                    type: object
                    description: Nested action object using the same compact action tags as top-level actions
        - title: Faucet (faucet)
          type: object
          description: Request testnet faucet funds (fixed 10,000 per claim; once per 24 hours per account)
          required: [faucet]
          properties:
            faucet:
              type: object
              required: [u]
              properties:
                u:
                  type: string
                  description: Recipient public key (base58)
                  example: "FuueqefENiGEW6uMqZQgmwjzgpnb85EgUcZa5Em4PQh7"
                amount:
                  type: number
                  description: Optional; ignored for testnet. Each claim credits a fixed 10,000.
                  nullable: true
        - title: Agent wallet (agentWalletCreation)
          type: object
          description: Register or remove an agent wallet
          required: [agentWalletCreation]
          properties:
            agentWalletCreation:
              type: object
              required: [a, d]
              properties:
                a:
                  type: string
                  description: Agent public key (base58)
                d:
                  type: boolean
                  description: true = remove agent, false = add agent
        - title: Update user settings (updateUserSettings)
          type: object
          description: Update per-symbol leverage settings
          required: [updateUserSettings]
          properties:
            updateUserSettings:
              type: object
              required: [m]
              properties:
                m:
                  type: object
                  description: Map of symbol to max leverage (1.0–50.0)
                  additionalProperties:
                    type: number
                  example:
                    BTC-USD: 5.0
                    ETH-USD: 3.0
        - title: Whitelist faucet (admin)
          type: object
          description: Whitelist or un-whitelist an account for faucet access (admin)
          required: [whitelistFaucet]
          properties:
            whitelistFaucet:
              type: object
              required: [target, whitelist]
              properties:
                target:
                  type: string
                  description: Target account public key (base58)
                  example: "9J8TUdEWrrcADK913r1Cs7DdqX63VdVU88imfDzT1ypt"
                whitelist:
                  type: boolean
                  description: true = whitelist, false = un-whitelist
        - title: Oracle price (px, admin)
          type: object
          description: Submit a price action update (admin/oracle feeder)
          required: [px]
          properties:
            px:
              type: object
              required: [t, c, px]
              properties:
                t:
                  type: integer
                  format: int64
                  description: Timestamp (nanoseconds)
                c:
                  type: string
                  description: Asset symbol
                  example: BTC-USD
                px:
                  type: number
                  description: Oracle price
                  example: 102500.0
        - title: Pyth oracle batch (o, admin)
          type: object
          description: Batch Pyth oracle price updates (admin/oracle feeder)
          required: [o]
          properties:
            o:
              type: object
              required: [oracles]
              properties:
                oracles:
                  type: array
                  description: Array of Pyth price updates
                  items:
                    type: object
                    required: [t, fi, px, e]
                    properties:
                      t:
                        type: integer
                        format: int64
                        description: Timestamp (nanoseconds)
                      fi:
                        type: integer
                        format: int64
                        description: Pyth feed ID
                      px:
                        type: integer
                        format: int64
                        description: Price (raw integer, apply exponent)
                      e:
                        type: integer
                        format: int16
                        description: Price exponent (e.g., -8 means price * 10^-8)
        - title: Create sub-account (createSubAccount)
          type: object
          description: |
            Create a named sub-account under the signing master account. Sub-accounts hold
            their own margin, positions, and orders evaluated independently by the risk engine.
            See [Sub-Accounts (Signed)](/api-reference/manageSubAccounts).
          required: [createSubAccount]
          properties:
            createSubAccount:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Sub-account display name (1-32 chars, `A-Z a-z 0-9 - _`)
                  example: "desk-1"
                marginSymbol:
                  type: string
                  nullable: true
                  description: Optional margin asset symbol to seed the sub-account with. Must be present when `marginAmount` is non-zero.
                  example: "USDC"
                marginAmount:
                  type: number
                  nullable: true
                  description: Optional initial margin amount transferred from master at creation time. Default `0.0`. Must be a JSON number (unquoted), e.g. `0` or `1000.0`, not `"0"` or `"1000.0"`.
                  example: 1000.0
        - title: Remove sub-account (removeSubAccount)
          type: object
          description: |
            Remove a flat sub-account and sweep any remaining margin back to the parent. Also used to remove an auto-created per-instrument [isolated account](/bulk-exchange/isolated-margin) by passing its `isoPubkey` as `toRemove` (margin is swept back to the master/sub-account that owns it).
            The target must have no open positions and no open orders.
          required: [removeSubAccount]
          properties:
            removeSubAccount:
              type: object
              required: [toRemove]
              properties:
                toRemove:
                  type: string
                  description: Sub-account or isolated-account public key (base58) to remove
                  example: "8x7iUti9m6L6Y9yQPXkXj4zD2uP1Qx5Eo9W4vYm6cGmR"
        - title: Rename sub-account (renameSubAccount)
          type: object
          description: |
            Rename an existing sub-account owned by the signing master. The pubkey is unchanged,
            so cached references and isolated-account links keep working.
            See [Sub-Accounts (Signed)](/api-reference/manageSubAccounts).
          required: [renameSubAccount]
          properties:
            renameSubAccount:
              type: object
              required: [a, n]
              properties:
                a:
                  type: string
                  description: Sub-account public key (base58) to rename. Must belong to the signing master.
                  example: "8x7iUti9m6L6Y9yQPXkXj4zD2uP1Qx5Eo9W4vYm6cGmR"
                n:
                  type: string
                  description: New display name (1-32 chars, `A-Z a-z 0-9 - _`). Must be unique within the master tree.
                  example: "desk-2"
        - title: Transfer (transfer)
          type: object
          description: |
            Transfer margin between accounts (`internal` between master and its sub-accounts / per-instrument isolated accounts,
            `external` to any account on the network). Use `internal` with `to = isoPubkey`
            to top up a per-instrument isolated account. See [Transfer (Signed)](/api-reference/transfer).
          required: [transfer]
          properties:
            transfer:
              type: object
              required: [from, to, marginSymbol, marginAmount]
              properties:
                k:
                  type: string
                  enum: [internal, external]
                  description: Transfer kind. Defaults to `internal`.
                  default: internal
                from:
                  type: string
[...]
